/* I am not interested in pursuing webdev. All solutions are hacked together. */
h2 {
    margin-top: 0rem;
    margin-bottom: .5rem;
}

h5 {
    font-weight: bold;
}

#title-block-header {
    margin-block-end: 0rem;
}

ul {
    padding-left: 1.2rem;
}

.nav-link {
    font-size: 1.2rem;
    color: #313745;
}

.nav-link.active {
    color: #313745 !important;
}

.nav-link:hover {
    color: #181b22; 
}


nav .nav-item.compact .nav-link {
    font-size: 1.2rem;
    color: #313745;
}
.navbar-nav.me-auto .nav-link {
    position: relative;
    text-decoration: none;
}

.navbar-nav.me-auto .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #181b22;
    width: 0%;
    content: "";
    height: 2px;
    transition: all .3s
}

@media (max-width: 992px) { 
    .navbar-nav.me-auto .nav-link::after {
        display: none; /* Hides the underline effect */
    }
}

.navbar-nav.me-auto .nav-link:hover::after {
    width: 80%;
    left: 0;
}
