project:
  type: website
  output-dir: docs

website:
  title: "Liam's Awesome Place of Coolness"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - test_tab.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

resources:
  - CNAME

